.card div.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.card__icon {
    font-size: 2rem;
}

.img-card-container{
    max-height: 350px;
}

.img-card-container img{
    height: 350px;
    object-fit: contain;
}

.card-title > .card__icon-more{
    display: none;
}

.card-title > .card__icon-remove{
    display: block;
}

.card-closed > .card-title > .card__icon-more{
    display: block;
}

.card-closed > .card-title > .card__icon-remove{
    display: none;
}

.card-closed .card-container{
    display: none;
}

@media (min-width: 768px){
    .card__icon {
        display: none !important;
    }

    .card .card-container{
        display: block;
    }
}