.card div.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.card__secondary .card__icon {
    font-size: 2rem;
}

.card__icon-remove{
    display: none;
}

.card__secondary .card-container{
    display: none;
}

@media (min-width: 768px){
    .card__secondary .card__icon {
        display: none;
    }

    .card__secondary .card-container{
        display: block;
    }
}