nav.nav{
    color: var(--color-white);
    position: fixed;
    top: 0;
    z-index: 999;
    align-items: center;
    padding: 1rem;
}

.nav > .logo a{
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.5rem;
}

.nav > .logo a > img{
    height: 2em;
}


@media (min-width: 1024px){
    .nav > .logo a > img{
        height: 3em;
    }

}
