nav.nav{
    color: var(--color-white);
    position: fixed;
    top: 0;
    z-index: 999;
    align-items: center;
    padding: 1.5rem 1rem;
}

.nav > .logo a{
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.5rem;
}

.nav > .logo a > img{
    height: 2em;
}

.burger-menu{
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
    align-items: center;
}

@media (min-width: 1024px){
    .nav > .logo a > img{
        height: 3em;
    }

}

.menu-overlay{
    position: absolute;
    z-index: 1050;
    background: black;
    color: white;
    height: calc(100vh);
    width: 100%;
}