.button{
    border-radius: 0 5px 5px 0 !important;
    padding-left: 20px;
    padding-right: 20px;
}

select.custom-select{
    border-radius: 5px 0 0 5px !important;
}

#search-form button[type="submit"]{
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-white);
}

/*mobile search form*/
.search-mobile__container{
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1050;
    align-items: center;
}

.search-mobile__input{
    flex-grow: 1;
    margin-right: 0;
    padding-left: 1.5rem;
}

.search-mobile__input input[type="text"]{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.search-mobile__input .input-group-prepend > button{
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
}

.search-mobile__icon{
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
}

.search-mobile__input,
.search-mobile__icon{
    margin: 1.5rem 1rem;
}

.no-search{
    display: none;
}

.search{
    display: block;
}

/*hHover effects*/
.button:hover{
    cursor: pointer;
}

.link-header:hover{
    color: var(--color-primary);
}

@media (min-width: 576px) {
    .search-mobile__container{
        display: none;
    }
}